{% extends 'base.html.twig' %}

{% block title %}Simple Products Example{% endblock %}

{% block body %}
    <h1 class="text-center">Simple Products</h1>
{% if (products) %}
    {% for product in products %}
    <div class="flex-row mb-4">
        <div class="col-md-8 offset-md-2 flex-column">
            <h3><a href="{{ url('view_product',{'productSlug':product.slug}) }}">{{ product.title }}</a><span class="float-right star-rating" data-rating="{{ product.rating }}"></span></h3>
            <div>{{ product.description }}</div>

            <div>{{ product.getRating() }}</div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="flex-row mb-4">
        <div class="col-md-6 offset-md-3 alert alert-danger text-center">You must first run :
            <br><strong>php app/console doctrine:schema:create</strong>
            <br><strong>php app/console doctrine:fixtures:load</strong></div>
    </div>
{% endif %}
{% endblock %}