<div class="flex-row mb-4 mt-4">
    <div class="col-md-8 offset-md-2 flex-column">
        <h3>Reviews</h3>
    {% if (reviews) %}
        {% for review in reviews %}
        <div class="flex-row">
            <div class="col-md-12 flex-column">
                <h5>{{ review.title }}
                    <span class="star-rating" data-rating="{{ review.rating }}"></span>
                    <span class="float-right" style="font-size: 12px;">{{ review.published.format('H:i Y-m-d') }}</span>
                </h5>
                <p class="pl-3 pr-3 pt-2 pb-2 font-weight-light">{{ review.description | nl2br }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <hr>
    </div>
</div>