
{% block reviewForm %}
    <div class="flex-row">
    {{ form_start(form, {'action': path('view_product',{productSlug:product.slug})}) }}

        {{ form_errors(form) }}
        <div class=" col-md-8 offset-md-2">
            {% if  app.session.flashbag.has('success')%}
            {% for success in app.session.flashbag.get('success') %}
                <div class="flex-row">
                    <div class="alert alert-success">{{ success }}</div>
                </div>
            {% endfor %}
            {% endif %}

            <h5>Add review</h5>
            <div class="row">
                <div class="form-group col-6">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {attr:{'class':'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.rating) }}
                    {{ form_widget(form.rating, {attr:{'class':'hide hidden input-star-rating'}, 'value':0}) }}
                    {{ form_errors(form.rating) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {attr:{'class':'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save review</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}