{% extends 'base.html.twig' %}

{% block title %}Simple Products Example{% endblock %}

{% block body %}
    <div class="flex-row mb-4 mt-4">
        <div class="col-md-10 offset-md-1 flex-column">
            <h1>{{ product.title }}<span class="star-rating align-middle" data-rating="{{ product.rating }}"></span></h1>
            <p>{{ product.description }}</p>
        </div>
    </div>

    {% include 'TaskBundle:Default:reviews.html.twig' with {reviews : product.getApprovedReviews()}%}

    {% include 'TaskBundle:Default:review_form.html.twig' with {form: form} %}
{% endblock %}