{% extends "base.html.twig" %}

{% block title %}Login page{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Simple login</h1>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form method="post" action="{{ url('auth_login') }}" autocomplete="off">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                 <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" required class="form-control" name="_username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" required class="form-control" name="_password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 alert alert-danger">
            <div>username: <strong>admin</strong></div>
            <div>password: <strong>admin123</strong></div>
        </div>
    </div>
{% endblock %}
