<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/task/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/task/css/fontawesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/task/css/style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <a class="navbar-brand text-white" href="{{ url('homepage') }}">Home</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="nav">
                    <ul class="navbar-nav">
                        <li><a class="text-white" href="{{ url('admin_dashboard') }}">Administration</a></li>
                    </ul>
                </nav>
                <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <div class="navbar-nav ">
                        {% if app.user %}
                            <li><a class="text-white" href="{{ url('auth_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a class="text-white" href="{{ url('auth_login') }}">Login</a></li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts  %}
            <script src="{{ asset('bundles/task/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/task/js/popper.min.js') }}"></script>
            <script src="{{ asset('bundles/task/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/task/js/code.js') }}"></script>
        {% endblock %}
    </body>
</html>
