.admin-review-box {
    margin: 10px auto;
    border: solid 1px #666;
}

.admin-review-box h4 {
    padding: 10px;
    border-bottom: 1px dashed #666;
}
.admin-review-box hr {
    margin:2px auto;
}
.admin-review-box .admin-review-box-info {
    padding: 10px;
    font-size: 90%;
    font-weight: bold;
}
form.approve-form{
    display: inline;
}

form.approve-form label {
    display: inline;
}

.star-rating i {
    font-size:14px;
    vertical-align: top;
}
.d-star-rating  i {
    font-size: 22px;
    vertical-align: middle;

}
i.gold-star {
    color: #f4f064;
}
.input-star-rating {
    display:none;
}