{% extends "base.html.twig" %}

{% block title %}TaskBundle:AdminController:index{% endblock %}

{% block body %}
<div class="flex-row">
    <div class="col-md-8 offset-md-2 flex-column mb-4 mt-4">
    <h3>Reviews
        <span class="btn-group float-right">
            <a href="{{ url('admin_dashboard') }}" class="btn btn-dark text-white btn-sm {{ app.request.get('status') is null ? 'active':'' }}">All</a>
            <a href="{{ url('admin_dashboard', {'status':0}) }}" class="btn btn-warning btn-sm {{ app.request.get('status') is same as(0) ? 'active':'' }}">Not approved</a>
            <a href="{{ url('admin_dashboard', {'status':1}) }}" class="btn btn-success btn-sm {{ app.request.get('status') is same as(1) ? 'active':'' }}">Approved</a>
            <a href="{{ url('admin_dashboard', {'status':2}) }}" class="btn btn-danger btn-sm {{ app.request.get('status') is same as(2) ? 'active':'' }}">Rejected</a>
        </span>
    </h3>
    </div>
</div>

{% for review in reviews %}
    <div class="flex-row">
        <div class="col-md-8 offset-md-2 flex-column admin-review-box">
            <h4>{{ review.title }} <span class="star-rating" data-rating="{{ review.rating }}"></span> <small class="status-title float-right text-{{ review.status==0?'warning':(review.status==1?'success':'danger') }}">{{ review.getStatusTItle() }}</small></h4>
            <p>{{ review.description }}</p>
            <hr>

            <div class="admin-review-box-info">
                <span>Product: {{ review.product.title }}</span>
                <span> | </span>
                <span>Published: {{ review.published.format('H:i Y-m-d') }}</span>
                <span> | </span>
                <span>Publisher: Anonymous</span>
            </div>
            <div class="admin-review-box-info">
                Action:
                <form method="post" action="{{ url('admin_review_status',{review:review.id}) }}" class="approve-form">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-success btn-sm">
                            <input type="radio" name="status" value="1" autocomplete="off"> Approve
                        </label>
                        <label class="btn btn-danger btn-sm">
                            <input type="radio" name="status" value="2" autocomplete="off"> Reject
                        </label>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
